<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles/index.css">

<!-- _________ | _________ GOOGLE FONTS _________ | _________ -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap"
			rel="stylesheet"
		/>

<!-- _________ | _________ FONTAWSOME ICONS _________ | _________ -->
		<script
		src="https://kit.fontawesome.com/f989ccb633.js"
		crossorigin="anonymous"
		></script>

<!-- _________ | _________ TOSTYFY TOASTS _________ | _________ -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

        <script src="scripts/index.js" defer></script>

		<title>Upload Videos</title>
	</head>
	<body>
        <br />
        <!-- <a href="/download">
        <button type="button">DOWNLOAD</button>
        </a> -->
		<div class="up">
            <input type="file" dropzone="copy"/>
            <i class="fa fa-upload"></i>
			<h3>Upload Video</h1>
        </div>
        <button class="upload" type="submit">UPLOAD</button>
		<br />
	</body>
</html>
